.input-control {
    border: 1px solid var(--line-color);
    border-radius: 10px;
    &__item {
        padding: 16px;
        &:first-child {
            border-radius: 10px 10px 0 0;
        }
        &:last-child {
            border-radius: 0 0 10px 10px;
        }
    }
    &__item + &__item {
        border-top: 1px solid var(--line-color);
    }
    &__label {
        display: block;
        margin: 0 0 5px 0;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.33;
        color: var(--gray-color);
    }
    &__group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    &__input {
        appearance: none;
        display: block;
        padding: 0;
        width: 100%;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.38;
        color: var(--black-color);
        background: transparent;
        border: none;
        border-radius: 0;
        &::placeholder {
            color: var(--gray-color);
        }
        &:focus {
            outline: none;
        }
    }
    &__input + &__help,
    &__input + &__btn,
    &__input + &__link {
        margin-left: 15px;
    }
    &__help {
        display: block;
        min-width: max-content;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.33;
        color: var(--gray-color);
    }
    &__link {
        display: block;
        padding: 0;
        width: fit-content;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.36;
        text-align: center;
        color: var(--blue-color);
        background: transparent;
        border: none;
        border-radius: 0;
        &:focus {
            outline: none;
        }
    }
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        min-width: 24px;
        width: 24px;
        height: 24px;
        font-size: 0;
        background: transparent;
        border: none;
        border-radius: 0;
        &:focus {
            outline: none;
        }
    }
    &__icon {
        min-width: 24px;
        width: 24px;
        height: 24px;
        color: var(--gray-color);
    }
}

.input-control + .input-control {
    border-top: none;
    border-radius: 0 0 10px 10px;
}