.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        min-width: 34px;
        width: 34px;
        height: 34px;
        background: transparent;
        border: none;
        border-radius: 0;
        &:focus {
            outline: none;
        }
    }
    &__btn-icon {
        min-width: 34px;
        width: 34px;
        height: 34px;
        color: #000000;
        &--sm {
            min-width: 24px;
            width: 24px;
            height: 24px;
        }
    }
}